/* ACCROSS SITE/GENERAL STYLES */

body {
    margin: 0;
    background-color: #F4F6FC;
    color: #6B708D;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #6B708D;
}

.blue-button {
    background-color: #072AC8;
    color: white;
    padding: 8px 12px;
}

.main-header, .main-main, footer {
    margin: 0 0.5em;
}

h1 {
    font-size: 1.8em;
}

/* Nav bar styles */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul{
    padding: 0;
}

.nav-bar-logo{
    width: 25vw;
}

.nav-bar-links li {
    list-style: none;
}

.nav-bar-links a:active {
    color: #072AC8;
}

.nav-bar-links a:hover {
    font-weight: 600;
}

/* CTA styles */

#CTA-section {
    background-color: #FFC600;
    color: #292E47
}


/* MAIN PAGE STYLES */

.section {
    padding: 1.5em 1em;
}

/* Hero section styles */

.hero-section-img-container {
    background-image: url('../images/hero-section/hero-image.png');
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 3em;
}

.hero-card {
    display:none;
}

.hero-links {
    padding: 1em 0 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* Client section styles */

.client-logo {
    filter: grayscale(100%);
}

#client-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}

/* Projects & services sections*/

.project-img {
    display: none;
}

.service-card p {
    display: none;
}

#projects-section, #services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

#projects-section h2, #services-section h2 {
    align-self: flex-start;
}

.project-card, .service-card {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project-card a, .service-card a {
    color: #072AC8;
}

.project-card > *, .service-card > * {
    margin: 0.5em;
}

/* Testimonials section */

.testimonial-emojis img:first-child {
    display: none;
}

.quote-sm-profile img {
    display: none;
}

.quote-sm-profile {
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.testimonial-emojis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonial-section {
    background-color: #292E47;
    color: white;
}

#testimonial-section q{
    color: #FFC600;
}