/* ACCROSS SITE/GENERAL STYLES */

body {
    margin: 0;
    background-color: #F4F6FC;
    color: #6B708D;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #6B708D;
}

.blue-button {
    background-color: #072AC8;
    color: white;
    padding: 8px 12px;
    border: none;
}

.main-header > .section, .main-main, .nav-bar, .footer, .project-main, .contact-main {
    margin: 0 0.5em;
}

h1 {
    font-size: 1.8em;
}

/* Nav bar and footer styles */

.nav-bar, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul, .footer ul{
    padding: 0;
}

.nav-bar-logo, footer-logo{
    width: 20vw;
}

.nav-bar-links li, .footer li {
    list-style: none;
}

.nav-bar-links a:active, .footer a:active {
    color: #072AC8;
}

.nav-bar-links a:hover, .footer a:hover {
    font-weight: 600;
}

.footer {
    flex-direction: column;
    flex-wrap: wrap;
}

.footer ul {
    display: flex;
    gap: 1em 2em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2em 0 3em 0;
}

.footer address {
    font-style: normal;
    padding: 1em 0;
}

/* CTA styles */

#CTA-section {
    background-color: #FFC600;
    color: #292E47;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2em 0 5em 0;
}

#CTA-section > * {
    margin: 0.5em
}

#CTA-section input[type="submit"], #CTA-section input[type="text"] {
    border: none;
    padding: 1em;
}

/* MAIN PAGE STYLES */

.section {
    padding: 1.5em 1em;
}

/* Hero section styles */

.hero-section-img-container {
    background-image: url('../images/hero-section/hero-image.png');
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 3em;
}

.hero-card {
    display:none;
}

.hero-links {
    padding: 1em 0 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* Client section styles */

.client-logo {
    filter: grayscale(100%);
}

#client-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}

/* Projects & services sections*/

.card-img {
    display: none;
}

.service-card p {
    display: none;
}

.projects-section, #services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-bottom: 1.5em;
}

.projects-section h2, #services-section h2 {
    align-self: flex-start;
}

.project-card, .service-card {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
}

.project-card a, .service-card a {
    color: #072AC8;
}

.project-card > *, .service-card > * {
    margin: 0.5em;
}

/* Testimonials section */

.testimonial-emojis img:first-child {
    display: none;
}

.quote-sm-profile img {
    display: none;
}

.quote-sm-profile {
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.testimonial-emojis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonial-section {
    background-color: #292E47;
    color: white;
}

#testimonial-section q{
    color: #FFC600;
}

.project-preview-img {
    display:none;
}

.project-section span {
    display:block;
}

.project-section div:first-child {
    padding-bottom: 1em;
}

#contact-form {
    padding: 2em 0 5em 0; 
}
    
#contact-form label {
    display: block;
}

#contact-form input, textarea {
    width: 100%;
    height: 3em;
    margin: 1em 0 2.5em 0;
    font-size: inherit;
}

#contact-form input:not([type="submit"]), textarea {
    border: none;
    background-color: #E6E9F1;
    padding: 0 0.5em;
}

#contact-form textarea{
    resize: none;
    font-family: inherit;
    font-size: inherit;
    height: 10em;
    padding-top: 0.5em;
}


/* TABLET/DESKTOP SETTINGS*/

@media only screen and (min-width: 768px) {

    body {
        font-size: 17px;
    }

    h1 {
        font-size: 60px;
        font-weight: bold;
        color: #292E47;
        margin: 0;
    }

    h2 {
        font-size: 40px;
        color: #292E47;
        font-weight: bold;
        padding-bottom: 1em;
    }

    h3 {
        font-size: 24px;
    }

    .main-header > .section, .main-main, .nav-bar, .footer, .project-main, .contact-main {
        margin: 0 3em;
    }

    .nav-bar, .footer {
        padding: 0 5em;
    }

    .section {
        padding: 4em 5em;
    }

    .nav-bar {
        height: 5rem;
        align-items: flex-end;
    }
    .nav-bar ul {
        display: flex;
        margin: 0;
    }

    .nav-bar li {
        display: inline;
        padding: 0.8em 3em;
        font-weight: bold;
    }

    .nav-bar li a:hover {
        color: #072AC8;
    }

    .nav-bar-logo {
        padding-bottom: 0.8em;
    }

    .nav-bar-logo, footer-logo{
        width: 5em;
    }

    .blue-button {
        padding: 0.8em 1.5em
    }

    .blue-button:hover {
        background-color: #FFC600;
        color: #292E47;
    }

    #hero-section p {
        font-size: 20px;
    }

    #hero-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #hero-section article {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .hero-card {
        display: block;
        min-width:15vw;
        max-width: 20vw;
        height: fit-content;
    }

    .hero-section-img-container {
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #first-hero-card {
        align-self: flex-start;
        margin: -5em auto auto -3em;
    }

    #second-hero-card {
        align-self: flex-end;
        margin: auto -4em -5em auto
    }

    .hero-links {
        justify-content: flex-start;
    }

    #client-section{
        justify-content: space-between;
    }

    .client-logo:hover {
        transform: scale(1.2);
    }

    .service-card p {
        display: inline;
        font-size: 20px;
    }

    .projects-section,  #services-section {
        flex-direction: row;
        justify-content: space-between;
        height: 30vw;
    }

    .project-card, .service-card {
        height: -webkit-fill-available;
        padding: 0;
        margin: 0;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
    }

    .service-card {
        padding: 1em;
    }

    .card-img {
        display: block;
        height: 50%;
        width: 100%;
        margin: 0;
        background-position: center;
        background-size: cover;
    }

    .project-card > *:not(:first-child) {
        padding: 1em;
    }

    .project-card > div:not(:first-child) > * {
        margin: 0;
    }

    .project-card > div:not(:first-child) > p {
        margin-top: 1em;
    }

    .testimonial-emojis img:first-child {
        display: block;
    }
    
    .quote-sm-profile img {
        display: block;
        clip-path: circle();
        width: 15%;
    }

    #testimonial-section h2{
        color: white;  
        padding: 0;     
    }

    .testimonial-emojis {
        width: 15%;
        justify-content: space-between;
    }

    .testimonials-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3em;
        text-align: center;
    }

    .quote-sm-profile {
        align-items: center;
    }

    #testimonial-section q{
        font-size: 24px;
    }

    #testimonial-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3em;
        height: 70vh;
        background-image: url('../images/testimonial-section/orbit.png');
        background-size: cover;
    }

    .testimonial-emojis img {
        width: 9em;
    }

    .service-card img {
        background-color: bisque;
        padding: 1em;
        border-radius: 50%;
    }

    #CTA-section input[type="submit"], #CTA-section input[type="text"] {
        border: none;
        margin: 2em auto;
    }

    #CTA-section input[type="text"] {
        padding: 1.5em 1em;
        width: 20em;
    }

    #CTA-section input[type="submit"] {
        align-items: center;
        padding: 1.5em 2em;
    }

    #CTA-section h2 {
        margin: 0;
        padding: 0;
    }

    #CTA-section {
        justify-content: space-between;
        margin: 2em 0 5em 0;
        height: 15vw;
    }

    .footer {
        flex-direction: row;
    }

    .footer div:first-child{
        width: 25%;
    }

    .footer nav {
        width: 40%;
    }

    .footer ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 3em;
        justify-content:flex-start;
    }

    .footer li{
        display: inline;
    }

    .project-preview-img {
        display: block;
        height: 25em;
        background-image: url('../images/projects-section/1.jpg');
        background-size: cover;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .project-section  p {
        padding-top: 3em;
    }

    .project-section span {
        display: inline;
    }
    
    .main-project-details {
        padding: 1em 0 4em 0;
        display: flex;
        justify-content: space-between;
    }

    #main-project-section {
        padding-bottom: 0;
    }

    #contact-form > div:not(.message-div) {
        width: 45%;
    }

    .message-div {
        width: -webkit-fill-available;
    }
 
    #contact-form input[type="number"] {
        width: -webkit-fill-available;
    }

    #contact-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1em;
    }

    #contact-form textarea {
        width: -webkit-fill-available;
    }
}